[flask]
DEBUG = 1
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_DATABASE_URI = sqlite:////tmp/hourglass.db

[SQLALCHEMY_BINDS]
data = sqlite:////tmp/hourglass.db
cache = sqlite:////tmp/hourglass-cache.db

[hourglass]
uchiwa_url = http://url.to.uchiwa.com/
enabled_sources = source1,source2
enabled_dashboards = admin,support
scheduler_interval = 30

[admin]
check_name = !datastore-connection,!mysqld-not-running

[support]
source = !source1
check_name = mysqld-not-running,datastore-connection,guest-queues

[source1]
backend = hourglass.backends.sensu.poller:SensuPoller
host = localhost
port = 4567
timeout = 10

[source2]
backend = hourglass.backends.sensu.poller:SensuPoller
host = localhost
port = 4568
timeout = 10
