[flask]
DEBUG = 1
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_DATABASE_URI = sqlite:////tmp/hourglass.db

[SQLALCHEMY_BINDS]
data = sqlite:////tmp/hourglass.db
cache = sqlite:////tmp/hourglass-cache.db

[hourglass]
uchiwa_url = http://url.to.uchiwa.com/
enabled_sensu_nodes = region1,region2
enabled_dashboards = admin,support

[admin]
checkname = !datastore-connection,!mysqld-not-running

[support]
datacenter = !region1
checkname = mysqld-not-running,datastore-connection,guest-queues

[region1]
name = test1
host = localhost
port = 4567
timeout = 10

[region2]
name = test2
host = localhost
port = 4568
timeout = 10
