[flask]
# SECRET_KEY and SQLALCHEMY_DATABASE_URI are already mapped from the opsy config
# section to here, so they are not necessary. As well, opsy automatically sets
# SQLALCHEMY_TRACK_MODIFICATIONS to False, so it is not necessary to specify
# that here. You can provide any additional flask config options (including
# any used by any of the extensions).
# If using LDAP, you must configure flask_ldap3_login here. Docs are available
# here: http://flask-ldap3-login.readthedocs.io/en/latest/configuration.html

[opsy]
# This section contains configuration for the core functionality of Opsy.

# The SQLAlchemy compatible database URI. DB must support JSON.
# Required: True
#database_uri = mysql://opsy:password@localhost/opsy
#database_uri = postgresql://opsy:password@localhost/opsy
database_uri = sqlite:///opsy.db

# This key is used for crypto features, such as encoding the user id into
# the session token. Think of it as an important password that you should
# change and keep safe.
# Required: True
secret_key = this should be changed

# This is a list of any permissions that should be granted to all users, even
# unauthenticated users. Really should only be basic read permissions.
# Required: False
# Default value: None
base_permissions = []

# This is a list of any permissions that should be granted to all logged in
# users, but not unauthenticated users.
# Required: False
# Default value: None
logged_in_permissions = ['zones_list', 'zones_get', 'hosts_list', 'hosts_get', 'groups_list', 'groups_get']

# Where Opsy should log. Not strictly necessary.
# Required: False
# Default value: None
log_file = /tmp/opsy.log

# Number of seconds of grace time before the scheduler cancels a job. This
# may need to be increased if there are a large amount of jobs being fired off.
# Required: False
# Default value: 10
scheduler_grace_time = 10

# Number of seconds before a session token is forced to be refreshed.
# Required: False
# Default value: 86400
session_token_ttl = 86400

# Set to true if you're using LDAP. This will assume any accounts in the
# database are generated from LDAP. You can either use LDAP or the internal
# auth, not both. You cannot cross the streams.
# Required: False
# Default value: False
enable_ldap = False

# If using LDAP, this tells opsy which attribute is for the full name of the
# user.
# Required: False
# Default value: displayName
ldap_user_full_name_attr = displayName

# If using LDAP, this tells opsy which attribute is for the email address of
# the user.
# Required: False
# Default value: mail
ldap_user_email_attr = mail

# If using LDAP, this tells opsy which attribute of the group it should use
# for mapping to roles.
# Required: False
# Default value: cn
ldap_group_name_attr = cn
