aiohttp==3.5.1
apispec==2.0.2
cheroot==8.0.0
Flask==1.1.1
flask-allows==0.7.1
flask-apispec==0.8.4
Flask-JSGlue==0.3.1
flask-ldap3-login==0.9.16
Flask-Login==0.4.1
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
marshmallow==3.2.1
marshmallow-sqlalchemy==0.17.0
pbr==5.1.1
prometheus-flask-exporter==0.12.1
psycopg2-binary==2.8.2
pyOpenSSL==19.0.0
python-dateutil==2.7.5
stevedore==1.30.0
toml==0.10.0
webargs==5.3.2
