body {
  padding-top: 70px;
}

table {
    table-layout: fixed;
}

table td, table th {
    overflow: hidden;
    white-space: nowrap;
}
td {
    text-overflow: ellipsis;
}

.form-group > label {
    padding-right: 5px;
    padding-left: 5px;
}

table.dataTable thead .sorting:after {
    content: none !important;
}
table.dataTable thead .sorting_asc:after {
    content: none !important;
}
table.dataTable thead .sorting_desc:after {
    content: none !important;
}
table.dataTable thead .sorting:before {
    padding-right: 5px;
    font-family: "Glyphicons Halflings";
    opacity: 0.2;
    content: "\e150 "
}
table.dataTable thead .sorting_asc:before {
    padding-right: 5px;
    font-family: "Glyphicons Halflings";
    opacity: 0.5;
    content: "\e155 "
}
table.dataTable thead .sorting_desc:before {
    padding-right: 5px;
    font-family: "Glyphicons Halflings";
    opacity: 0.5;
    content: "\e156 "
}

/* EVENTS TABLE */
th#status{
    width: 5%
}
th#datacenter{
    width: 5%
}
th#source {
    width: 25%;
}
th#check {
    width: 10%;
}
th#occurrences {
    width: 5%;
}
th#lastcheck {
    width: 10%;
}

.fa-flag.Critical {
    color: #AA0000
}

.fa-flag.Warning {
    color: #BBBB00
}

.fa-flag.OK {
    color: #00AA00
}

/* CHECKS TABLE */
th#name {
    width: 15%;
}
th#interval {
    width: 10%;
}
