{% extends "layout.html" %}
{% set active_page = 'about' %}
{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Opsy</h1>
    <p>Opsy aims to be a dashboard for the Sensu monitoring framework that has some features that the base dashboard (Uchiwa) is lacking</p>
    <p>The Opsy back-end is written in Python and uses the Flask framework.  The front-end uses Bootstrap, jQuery, DataTables and many others</p>
</div>
{% endblock %}
