<!DOCTYPE html>
<html lang="en">
<head>
    {%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('core_main.static', filename='img/opsy.png')}}">

    <title>{% if title %}{{ title }} | {% endif %}Opsy</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('core_main.static', filename='css/bootstrap/bootstrap.min.css')}}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{url_for('core_main.static', filename='css/bootstrap/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('core_main.static', filename='css/opsy/opsy.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{url_for('core_main.static', filename='js/bootstrap/ie-emulation-modes-warning.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {%- endblock %}
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        {%- block navbar %}
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Opsy</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {%- block leftnav -%}
                    {%- set active_page = active_page|default('about') -%}
                    {%- for item in link_structures recursive %}
                    {%- if item.type == 'link' %}
                    <li{% if item.id == active_page %} class="active"{% endif %}><a href="{{ url_for(item.content|e) }}{% if item.get_vars %}?{{ item.get_vars }}{% endif %}">{{ item.name|e }}</a></li>
                    {%- elif item.type == 'header' %}
                    <li class="dropdown-header">{{ item.name }}</li>
                    {%- elif item.type == 'divider' %}
                    <li role="separator" class="divider"></li>
                    {%- elif item.type == 'dropdown' %}
                    <li{% if item.id == active_page %} class="active"{% endif %} class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">{{ loop(item.content) }}</ul>
                </li>
                {% endif %}
                {%- endfor %}
                {%- endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><p class="navbar-text">Hello {% if current_user.full_name %}{{ current_user.full_name }}{% else %}{{ current_user.name }}{% endif %}.</p></li>
                <li><a href="{{ url_for('core_api.logout') }}">Logout</a></li>
                {% else %}
                <li class="dropdown">
                    <a href="{{ url_for('core_api.login') }}" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-lr" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center"><h3><b>Log In</b></h3></div>
                            <form id="ajax-login-form" action="{{ url_for('core_api.login') }}" method="post" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label for="user_name">Username</label>
                                    <input type="text" name="user_name" id="user_name" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <input type="checkbox" tabindex="3" name="remember_me" id="remember_me">                                              <label for="remember"> Remember Me</label>                                          </div>
                                            <div class="col-xs-5 pull-right">
                                                <input type="submit" name="submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" id="notification-label" class-"dropdown-toggle" data-toggle="dropdown" role="button">
                            <span id='notification-icon' class="glyphicon glyphicon-bell"></span>
                        </a>
                        <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                            <div class="notification-heading"><h4 class="menu-title">Notifications (<span id='notification-count'>0</span>)</h4></div>
                            <li class="divider"></li>
                            <div id='notification-container' class="notifications-wrapper">
                            </div>
                        </ul><!--/.dropdown-menu -->

                    </li><!--/.dropdown -->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
        {%- endblock %}
    </nav>

    <div class="container-fluid">
        <div id="alert-container">
        </div><!--/.alert-container -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content -%}
        {%- endblock %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{ JSGlue.include() }}
    <script src="{{url_for('core_main.static', filename='js/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('core_main.static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('core_main.static', filename='js/bootstrap/ie10-viewport-bug-workaround.js')}}"></script>
    <script src="{{url_for('core_main.static', filename='js/opsy/opsy.js')}}"></script>
    {%- block footer -%}
    {%- endblock %}
</body>
</html>
