{% extends "layout.html" %}
{% set active_page = 'events' %}
{% block head %}{{ super() }}
    <!-- Custom styles for this template -->
    <link href="{{url_for('main.static', filename='css/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('main.static', filename='css/datatables-responsive/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('main.static', filename='css/bootstrap-multiselect/bootstrap-multiselect.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-12">
          <table id="events" class="dt table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th id='status'>Status</th>
                <th id="datacenter">DC</th>
                <th id="source">Source</th>
                <th id="check">Check Name</th>
                <th id="output">Output</th>
                <th id="occurrences">Count</th>
                <th id="lastcheck">Last&nbspCheck</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
{% block footer %}{{ super() }}
    <script src="{{url_for('main.static', filename='js/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('main.static', filename='js/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{url_for('main.static', filename='js/datatables-responsive/dataTables.responsive.min.js')}}"></script>
    <script src="{{url_for('main.static', filename='js/datatables-responsive/responsive.bootstrap.min.js')}}"></script>
    <script src="{{url_for('main.static', filename='js/bootstrap-multiselect/bootstrap-multiselect.js')}}"></script>
    <script src="{{url_for('main.static', filename='js/timeago/jquery.timeago.js')}}"></script>
    <script src="{{url_for('main.static', filename='js/hourglass/events.js')}}"></script>
{% endblock %}
