body {
  padding-top: 70px;
}

table {
    table-layout: fixed;
}

table td, table th {
    overflow: hidden;
    white-space: nowrap;
}
td {
    text-overflow: ellipsis;
}

.form-group > label {
    padding-right: 5px;
    padding-left: 5px;
}

/* EVENTS TABLE */
th#datacenter{
    width: 5%
}
th#source {
    width: 25%;
}
th#check {
    width: 10%;
}
th#occurrences {
    width: 5%;
}
th#lastcheck {
    width: 10%;
}

/* CHECKS TABLE */
th#name {
    width: 15%;
}
th#interval {
    width: 10%;
}
