/* EVENTS TABLE */
th#status{
    width: 5%
}
th#source {
    width: 25%;
}
th#check {
    width: 10%;
}
th#occurrences {
    width: 5%;
}
th#lastcheck {
    width: 10%;
}
#status-filter-div>select, #zone-filter-div>select, #check-filter-div>select, #hide-events-filter-div>select {
    visibility: hidden;
}
