Source: opsy
Section: python
Priority: extra
Maintainer: Chris Jowett <cryptk@gmail.com>
Build-Depends: debhelper (>= 9), python3.4-dev, dh-virtualenv (>= 0.7)
Standards-Version: 3.9.5

Package: opsy
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3.4, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Recommends: uwsgi, nginx
Description: An alternative web panel for Sensu.
 Opsy aims to be a dashboard for the Sensu monitoring framework that has some features that the base dashboard (Uchiwa) is lacking
 .
 The Opsy back-end is written in Python and uses the Flask framework. The front-end uses Bootstrap, jQuery, DataTables and many others

