{% extends "layout.html" %}
{% set active_page = 'checks' %}
{% block head %}
  {{ super() }}
      <!-- Custom styles for this template -->
      <link href="/static/css/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-12">
          <table id="checks" class="dt table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th id="datacenter">DC</th>
                <th id="name">Name</th>
                <th id="command">Command</th>
                <th id="interval">Interval</th>
              </tr>
            </thead>
            <tbody>
            {% for check in checks|sort(attribute='name') %}
              <tr>
                <td>{{ check.datacenter }}</td>
                <td>{{ check.name }}</td>
                <td>{{ check.command }}</td>
                <td>{{ check.interval }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
{% block footer %}
  {{ super() }}
  <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/js/datatables/dataTables.bootstrap.min.js"></script>
{% endblock %}
