{% extends "layout.html" %}
{% set active_page = 'events' %}
{% block head %}
  {{ super() }}
      <!-- Custom styles for this template -->
      <link href="/static/css/datatables/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-12">
          <table id="events" class="table table-striped table-bordered table-hover table-condensed col-md-10">
            <thead>
              <tr>
                <th id="datacenter">DC</th>
                <th id="source">Source</th>
                <th id="check">Check Name</th>
                <th id="output">Output</th>
                <th id="occurrences">Count</th>
                <th id="lastcheck">Last&nbspCheck</th>
              </tr>
            </thead>
            <tbody>
            {% for event in events %}
              <tr>
                <td>{{ event.datacenter }}</td>
                <td>{{ event.client.name }}</td>
                <td>{{ event.check.name }}</td>
                <td>{{ event.check.output }}</td>
                <td>{{ event.occurrences }}</td>
                <td>{{ event.lastcheck }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
{% block footer %}
  {{ super() }}
  <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
{% endblock %}
