{% extends "layout.html" %}
{% set active_page = 'events' %}
{% block head %}{{ super() }}
    <!-- Custom styles for this template -->
    <link href="/static/css/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-12">
          <table id="events" class="dt table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th id='status'>Status</th>
                <th id="datacenter">DC</th>
                <th id="source">Source</th>
                <th id="check">Check Name</th>
                <th id="output">Output</th>
                <th id="occurrences">Count</th>
                <th id="lastcheck">Last&nbspCheck</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
{% block footer %}{{ super() }}
    <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/js/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/timeago/jquery.timeago.js"></script>
    <script src="/static/js/hourglass/events.js"></script>
{% endblock %}
